// Media Querry
/* Media Querry 1199 */
@media(max-width:1199px){ 


}


/* Media Querry 1199 */
@media(min-width:1024px)and (max-width:1199px){ 
header .navigation-bar .logo img {
    width: 133px;
}
header .navigation-bar .navbar .navbar-nav li > a {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0px;
}
header .navigation-bar .navbar .navbar-nav{
        width: 55%;
}
header .navigation-bar .call-to-action ul li .order-livechat a:first-child{
    padding-right: 4px;
}
header .navigation-bar .call-to-action ul li .order-livechat a:last-child{
   padding-left: 6px;
}


header .navigation-bar .navbar .navbar-collapse {
    padding-left: 80px;
    margin-right: 0;
}
header .navigation-bar .call-to-action ul li a{
    margin-right: 0;
}

 

header .navigation-bar .call-to-action {
    margin-left: 10px;
}
header .slider-text{
    padding-left: 145px;
}
header .price-calculator{
    padding: 15px 14px;
}
}




/* Media Querry 991 */
@media(min-width:992px)and (max-width:1024px){ 
header .navigation-bar .call-to-action ul li .order-livechat a{
    font-size: 12px;
    
}
header .navigation-bar .call-to-action ul li a{
    font-size: 14px;
}
header .navigation-bar .call-to-action{
    margin-left: 0;
}
header .navigation-bar .navbar .navbar-nav li > a{
    font-size: 13px;
}
header .slider-text{
    padding-left: 160px;
}
header .price-calculator{
        padding: 16px 11px;
}
}


/* Media Querry 991 */
@media(max-width:991px){ 
    div#collapsibleNavbar {
    background: #000;
    padding-bottom: 9px;
}
header .slider-text{
    padding-left: 75px;
}
.do-need .do-need-section .talk-email .actions .actions-text h3{
    font-size: 18px
}
.do-need .do-need-section .do-need-heading h2{
        font-size: 22px;
}
.do-need .do-need-section .do-need-heading h4, .do-need .do-need-section .do-need-heading h2{
    font-size: 20px;
}
.testimonials{
    padding: 40px 0;
}
.testimonials .testimonials-carausal .slick-arrow{
    z-index: 999
}
.testimonials .testimonials-carausal .slick-arrow.prev-arrow {
     
      left: unset;
    border-right: 0;
        right: 8px;

}
.testimonials .testimonials-carausal .slick-arrow.next-arrow {
    
    left: unset;
    border-right: 0;   right: -37px;
}
.new-slides .points-slide{
        margin-top: 97px;
}
.new-slides .news-slides-text .news-slides-box{
    margin-top: 30px;
}
.new-slides{
    padding-top: 30px;
}
.service-feature .service-feature-img {
     
    align-items: center;
    margin-right: 0;
}
.service-quality-text {
    margin-bottom: 35px;
}
.service-quality-wrap .service-quality-heading p {
    margin-bottom: 23px; 
}
header .price-calculator{
        padding: 20px 12px;
}
button.navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
.service-feature{
padding: 25px 0;
}
.our-process{
    padding: 25px 0;
}

 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(225, 225, 225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}
header .navigation-bar .navbar .navbar-nav {
 width: 100%;
    text-align: center;
}
header .navigation-bar .navbar .navbar-collapse {
    padding-left: 0;
    margin-right: 0;
}
header .navigation-bar .call-to-action{
    margin-left: 0;
}
.call-to-action ul{
    justify-content: center !important;
    margin-top: 13px;
}
    header .slider-text h1 {
     
    font-size: 27px;
}
header .price-calculator {
     
    margin-top: 50px;
     
    margin-right: 0;
}
header .slider-text {
    padding-left: 0;
    text-align: center;
    margin-top: 50px;
}

}


/* Media Querry 991 and 768 */
@media(max-width:991px)and (min-width:768px){ 

}

/* Media Querry 768 */
@media(max-width:768px){ 
    header .navigation-bar .call-to-action ul li .order-livechat {
    margin-left: 8px;
    justify-content: center;
}
.call-to-action{
    text-align: center;
}
header .slider-text ul li .icon{
    display: none;
}
header .price-calculator{
    margin-left: 0;
}
.service-quality-text{
    text-align: center;
}
.service-feature .service-feature-text {
    padding: 21px 31px 18px 32px;
     
}
.service-feature .service-feature-text .heading-tile{
    font-size: 24px;
        margin-bottom: 0;
}
.process-box {
    text-align: center;
}
.our-process .process-box .number{
    margin: 0 auto;
}
.testimonial-sidebar{
    margin-bottom: 15px;
}
.do-need .do-need-section .talk-email{
  
    margin-bottom: 0;
    flex-direction: column;
}
.do-need .do-need-section .talk-email .actions + .actions {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer-links{
    text-align: center
}
header .navigation-bar .logo {
     
    text-align: center;
}
}
/* Media Querry 576 */
@media(max-width:576px){ 
header .slider-text h1 {
    font-size: 20px;
}
header .slider-text ul li{
    padding-left: 0;
    font-size: 14px;
}
header .price-calculator h1{
        font-size: 24px;
}
.heading-tile{
    font-size: 20px
}
.common-btn { 
    height: 35px;
    min-width: 137px; 
     
    padding: 0 17px; 
    font-size: 14px;
}
.service-feature .service-feature-img img{
    margin-top: 0;
    width: 100%;
    height: 100%;
}
.service-feature .contact-info{
    text-align: center;
    width: 100%;
}
.service-feature .contact-info .phone-no-icon{
    justify-content: center;
    font-size: 20px;
}
.service-feature .service-feature-text .heading-tile{
        font-size: 20px;
    margin-bottom: 0;
    text-align: center;
}
.service-feature .service-feature-text .heading-tile:before {
    margin-left: auto;
}
.heading-tile {
    font-size: 20px !important;
    text-align: center;
    &:before{
        margin-left: auto !important;
        margin-right: auto !important;
    }
}
.service-feature .service-feature-text:after{
    display: none;
}
.testimonial-sidebar{
    text-align: center
}
.testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-img{
    margin: 0 auto;
}
.ct-details{
    justify-content: center;
    text-align: center
}
.customer-testimonials-box{
    text-align: center
}
.do-need .do-need-section .talk-email .actions .actions-text h3{
    font-size: 14px;
}
.our-process .process-btns a:last-of-type{
    margin-left: 0;
    margin-top: 5px;;
}
.service-quality-wrap .service-quality-boxes .service-quality-box {
    cursor: pointer;
    background: #ddf8e5;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 8px;
}
}




