/* Sass Mixin */
.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

p {
  color: #212121; }

.default-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.styled-list li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 6px; }
  .styled-list li:before {
    content: '';
    background: url(../images/sprites-img.png);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-position: -12px -645px;
    position: absolute;
    left: 0;
    top: 3px; }

.heading-tile {
  font-size: 28px;
  font-weight: 600;
  position: relative; }
  .heading-tile span {
    display: block; }
  .heading-tile:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #0d9f1a;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto; }

.icon {
  background: url("../images/sprites-img.png"); }

a:hover {
  text-decoration: none;
  color: #fff; }

.common-btn {
  display: inline-flex;
  height: 40px;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50px;
  padding: 0 40px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #02bc4d;
  text-transform: uppercase;
  font-weight: 500;
  transition: ease all .4s;
  line-height: normal; }
  .common-btn .icon {
    width: 13px;
    height: 10px;
    background-position: -112px -392px;
    margin-left: 11px; }
  .common-btn:hover .icon {
    background-position: -113px -412px;
    transition: ease all .4s; }

.outline-btn {
  transition: ease all .4s; }
  .outline-btn:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #02bc4d;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: -1;
    transition: ease all .4s; }
  .outline-btn:hover {
    background: #fff;
    border-color: #02bc4d;
    color: #02bc4d; }
    .outline-btn:hover:before {
      width: 0%; }

.green-head {
  color: #02bc4d;
  font-size: 22px;
  font-weight: 600; }

.box-shadow {
  box-shadow: 0 4px 7px 0 rgba(223, 19, 47, 0.6); }

.redlinks {
  color: #02bc4d;
  font-weight: 500;
  font-size: 16px; }

.redlinks:hover {
  color: #02bc4d; }

.sm-btn {
  height: 30px; }

.md-btn {
  height: 40px; }

.pink-color {
  color: #02bc4d; }

.heading-sm {
  font-size: 28px; }

.heading-md {
  font-size: 32px; }

.heading-lg {
  font-size: 34px; }

.slick-slider:focus, .slick-slide {
  outline: none !important; }

/* Body */
body {
  font-family: 'Rajdhani', sans-serif !important;
  overflow-x: hidden; }

/** Header **/
header {
  background: url(../images/slider-img.jpg) no-repeat left center;
  min-height: 650px;
  background-size: cover;
  padding: 20px 0; }
  header .slider-wrapper {
    min-height: 540px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 27px; }
  header .navigation-bar .logo {
    position: relative; }
    header .navigation-bar .logo img {
      width: 160px; }
  header .navigation-bar .navbar {
    padding: 0; }
    header .navigation-bar .navbar .navbar-nav {
      width: 53%;
      justify-content: space-around;
      border-bottom: 1px solid #878c86; }
      header .navigation-bar .navbar .navbar-nav li > a {
        color: #fff;
        transition: ease all .4s; }
        header .navigation-bar .navbar .navbar-nav li > a:hover {
          color: #02bc4d; }
    header .navigation-bar .navbar .navbar-collapse {
      padding-left: 100px;
      margin-right: -35px; }
  header .navigation-bar .call-to-action {
    margin-left: 90px; }
    header .navigation-bar .call-to-action ul li a {
      margin-right: 5px;
      font-weight: 500;
      color: #fff;
      display: inline-block; }
      header .navigation-bar .call-to-action ul li a .icon {
        display: inline-block;
        margin-right: 10px; }
        header .navigation-bar .call-to-action ul li a .icon.phone-icon {
          width: 18px;
          height: 18px;
          background-position: -106px -12px; }
    header .navigation-bar .call-to-action ul li .order-livechat {
      margin-left: 8px; }
      header .navigation-bar .call-to-action ul li .order-livechat a {
        text-transform: uppercase;
        height: 40px;
        border-style: solid;
        border-color: #7a7a7a;
        padding: 0 12px;
        display: flex;
        align-items: center;
        margin-right: 0;
        font-size: 14px;
        transition: ease all .4s; }
        header .navigation-bar .call-to-action ul li .order-livechat a:first-child {
          border-radius: 50px 0 0 50px;
          border-width: 1px 0px 1px 1px;
          padding-right: 12px; }
        header .navigation-bar .call-to-action ul li .order-livechat a:last-child {
          border-radius: 0 50px 50px 0;
          border-width: 1px 1px 1px 0px;
          padding-left: 12px; }
        header .navigation-bar .call-to-action ul li .order-livechat a .icon {
          width: 25px;
          height: 25px; }
          header .navigation-bar .call-to-action ul li .order-livechat a .icon.edit-icon {
            width: 18px;
            height: 18px;
            background-position: -107px -43px; }
          header .navigation-bar .call-to-action ul li .order-livechat a .icon.livechat-icon {
            width: 18px;
            height: 18px;
            background-position: -106px -79px; }
        header .navigation-bar .call-to-action ul li .order-livechat a:hover {
          background: #0d9f1a;
          border-color: #0d9f1a; }
  header .slider-text {
    padding-left: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .slider-text h1 {
      color: #fff;
      font-size: 33px; }
      header .slider-text h1 span {
        color: #14db26;
        display: block; }
        header .slider-text h1 span i {
          color: #fff; }
    header .slider-text ul li {
      color: #fff;
      position: relative;
      padding-left: 45px;
      padding-top: 4px;
      margin-bottom: 18px; }
      header .slider-text ul li .icon {
        width: 36px;
        height: 36px;
        background-color: #fff;
        border-radius: 50px;
        background-position: -100px -154px;
        display: inline-block;
        margin-right: 15px;
        position: absolute;
        left: 0;
        top: 0; }
      header .slider-text ul li .break {
        display: block; }
  header .price-calculator {
    background: #fff;
    padding: 22px 25px;
    border-radius: 22px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.5);
    margin-right: 50px;
    padding-top: 15px;
    margin-left: 65px; }
    header .price-calculator h1 {
      font-size: 32px;
      color: #000;
      font-weight: 600;
      border-bottom: 1px solid #d4d4d4;
      padding-bottom: 4px;
      text-align: center;
      margin-bottom: 15px; }
    header .price-calculator .form-group {
      position: relative; }
      header .price-calculator .form-group label {
        font-weight: 600;
        color: #000;
        margin-bottom: 0;
        font-size: 15px; }
      header .price-calculator .form-group select, header .price-calculator .form-group input[type="text"] {
        border-radius: 50px;
        -webkit-appearance: none;
        position: relative;
        background: #bcbcbc;
        color: #fff;
        height: 35px !important; }
        header .price-calculator .form-group select:after, header .price-calculator .form-group input[type="text"]:after {
          content: '';
          position: absolute;
          background: url(../images/sprites-img.png);
          right: 0;
          display: inline-block;
          width: 10px;
          height: 5px;
          background-position: -111px -191px; }
      header .price-calculator .form-group .no-pages {
        position: relative;
        border-radius: 50px;
        overflow: hidden; }
        header .price-calculator .form-group .no-pages .increment, header .price-calculator .form-group .no-pages .decrement {
          position: absolute;
          height: 35px;
          background: #929292;
          width: 35px;
          z-index: 9;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          font-weight: 600;
          color: #fff;
          cursor: pointer; }
        header .price-calculator .form-group .no-pages .increment {
          left: 0; }
        header .price-calculator .form-group .no-pages .decrement {
          right: 0; }
      header .price-calculator .form-group p {
        color: #828282; }
  header .price-btns .showValue {
    display: inline-flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: #000;
    border-radius: 50px;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 1px solid #0d9f1a;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    margin-bottom: 10px; }
    header .price-btns .showValue span {
      color: #0d9f1a;
      display: inline-block;
      margin-left: 10px; }

/** Header **/
/** service-quality **/
.service-quality-wrap {
  padding: 50px 0; }
  .service-quality-wrap .service-quality-heading h1 {
    margin-bottom: 25px; }
  .service-quality-wrap .service-quality-heading p {
    margin-bottom: 50px;
    font-weight: 500; }
  .service-quality-wrap .service-quality-text h5 {
    font-weight: 600;
    font-size: 17px;
    margin-top: 10px; }
    .service-quality-wrap .service-quality-text h5 span {
      color: #02bc4d; }
  .service-quality-wrap .service-quality-boxes .service-quality-box {
    cursor: pointer;
    background: #ddf8e5;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px; }
    .service-quality-wrap .service-quality-boxes .service-quality-box .icon-box {
      width: 90px;
      height: 90px;
      border-radius: 50px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; }
      .service-quality-wrap .service-quality-boxes .service-quality-box .icon-box .icon {
        transform: scale(0.7); }
        .service-quality-wrap .service-quality-boxes .service-quality-box .icon-box .icon.icon-1 {
          width: 77px;
          height: 72px;
          background-position: -7px -7px; }
        .service-quality-wrap .service-quality-boxes .service-quality-box .icon-box .icon.icon-2 {
          width: 74px;
          height: 63px;
          background-position: -10px -97px; }
        .service-quality-wrap .service-quality-boxes .service-quality-box .icon-box .icon.icon-3 {
          width: 66px;
          height: 73px;
          background-position: -7px -183px; }
        .service-quality-wrap .service-quality-boxes .service-quality-box .icon-box .icon.icon-4 {
          width: 80px;
          height: 66px;
          background-position: -4px -279px; }
    .service-quality-wrap .service-quality-boxes .service-quality-box .quality-box-text h4 {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 15px 0 11px 0; }
    .service-quality-wrap .service-quality-boxes .service-quality-box .quality-box-text p {
      font-weight: 500; }
    .service-quality-wrap .service-quality-boxes .service-quality-box .quality-box-btn .common-btn {
      height: 27px;
      min-width: 130px;
      padding: 0 11px;
      text-transform: capitalize;
      line-height: normal; }
    .service-quality-wrap .service-quality-boxes .service-quality-box:hover {
      background: #02bc4d; }
      .service-quality-wrap .service-quality-boxes .service-quality-box:hover .quality-box-btn a {
        border-color: #02bc4d;
        color: #02bc4d; }
        .service-quality-wrap .service-quality-boxes .service-quality-box:hover .quality-box-btn a:before {
          background: #fff; }

/** End service-quality **/
/** service-feature **/
.service-feature {
  background: #f4f4f4;
  padding: 70px 0; }
  .service-feature .service-feature-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: -77px; }
    .service-feature .service-feature-img img {
      width: 540px;
      display: inline-block;
      height: 350px;
      margin-top: 40px;
      position: relative;
      z-index: 0; }
  .service-feature .contact-info {
    width: 300px;
    border: 2px solid #02bc4d;
    border-radius: 0 0 8px 8px;
    border-top: 0; }
    .service-feature .contact-info h5 {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 600;
      padding-left: 8px;
      padding-top: 5px;
      padding-bottom: 2px; }
    .service-feature .contact-info h4 {
      margin-bottom: 0;
      font-size: 18px;
      padding-left: 8px;
      margin-bottom: 0;
      font-size: 18px;
      padding-left: 8px;
      padding-bottom: 5px; }
    .service-feature .contact-info .phone-no-icon {
      border-radius: 0 0 8px 8px;
      background: #ddf8e5;
      padding: 7px 14px; }
      .service-feature .contact-info .phone-no-icon .icon {
        width: 34px;
        height: 34px;
        background-position: -100px -111px; }
      .service-feature .contact-info .phone-no-icon h2 {
        font-size: 25px;
        font-weight: 600;
        border-left: 1px solid #b0b0b0;
        padding-left: 11px;
        margin-left: 17px;
        margin-bottom: 0;
        color: #000; }
  .service-feature .service-feature-text {
    padding: 30px 52px 30px 57px;
    box-shadow: 4px 0 6px 6px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: relative; }
    .service-feature .service-feature-text:after {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      border-radius: 50px;
      bottom: 19px;
      left: -30px;
      background: url(../images/down-arrow.png) #02bc4d no-repeat center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .service-feature .service-feature-text .heading-tile {
      font-size: 28px;
      font-weight: 600;
      position: relative;
      margin-bottom: 29px;
      line-height: 25px; }
      .service-feature .service-feature-text .heading-tile:before {
        margin-left: 0; }
    .service-feature .service-feature-text p {
      font-weight: 600;
      margin-top: 19px; }
    .service-feature .service-feature-text .service-feature-list li h4 {
      font-size: 18px;
      font-weight: 600;
      color: #02bc4d;
      margin-bottom: 10px; }
    .service-feature .service-feature-text .service-feature-list li p {
      margin-top: 0; }

/** End service-feature **/
/** New Slides **/
.new-slides {
  background: url("../images/black-bg.jpg");
  min-height: 450px;
  background-size: cover;
  padding-top: 60px; }
  .new-slides .heading-text h1 {
    color: #fff;
    font-size: 26px; }
    .new-slides .heading-text h1:before {
      margin-left: 0;
      font-size: 26px; }
  .new-slides .news-slides-text .news-slides-box {
    background: url(../images/circle-icon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 42px;
    border-radius: 10px 10px 0 0;
    margin-top: 97px; }
    .new-slides .news-slides-text .news-slides-box > p:first-child {
      font-weight: 600; }
    .new-slides .news-slides-text .news-slides-box a {
      height: 27px;
      min-width: 130px;
      padding: 0 11px;
      text-transform: capitalize;
      line-height: normal; }
    .new-slides .news-slides-text .news-slides-box .email-address {
      margin-top: 10px; }
      .new-slides .news-slides-text .news-slides-box .email-address p {
        text-align: right;
        font-size: 15px;
        margin-bottom: 0;
        line-height: normal;
        font-weight: 600; }
        .new-slides .news-slides-text .news-slides-box .email-address p:first-child {
          color: #000; }
        .new-slides .news-slides-text .news-slides-box .email-address p:last-child {
          color: #5d5d5d; }
          .new-slides .news-slides-text .news-slides-box .email-address p:last-child span {
            color: #0d9f1a; }
  .new-slides .points-slide {
    position: relative;
    margin-top: 30px; }
    .new-slides .points-slide:before {
      content: '';
      position: absolute;
      top: -36px;
      border: 0.6px solid #2b2b2b;
      width: 80%; }
    .new-slides .points-slide .point-carausal .slick-arrow {
      position: absolute;
      cursor: pointer;
      top: -59px; }
      .new-slides .points-slide .point-carausal .slick-arrow.prev-arrow {
        right: 0; }
      .new-slides .points-slide .point-carausal .slick-arrow.next-arrow {
        right: 54px; }
    .new-slides .points-slide .points-slide-box h4 {
      color: #02bc4d;
      font-size: 22px;
      position: relative;
      padding-left: 25px; }
      .new-slides .points-slide .points-slide-box h4:before {
        content: '';
        width: 11px;
        height: 11px;
        background: #f67766;
        display: inline-block;
        border-radius: 50px;
        position: absolute;
        left: 0;
        top: 7px; }
    .new-slides .points-slide .points-slide-box p {
      color: #ffffff;
      font-size: 16px;
      padding-left: 25px; }

/** End New Slides **/
/** our-process **/
.our-process {
  padding: 60px 0; }
  .our-process .our-process-heading h1 {
    font-size: 30px;
    line-height: 31px;
    font-weight: 600;
    color: #000; }
    .our-process .our-process-heading h1 span {
      display: block;
      line-height: 22px;
      color: #02bc4d; }
  .our-process .our-process-heading p {
    font-weight: 500;
    padding: 0 43px;
    margin-top: 30px;
    margin-bottom: 40px; }
  .our-process .process-box .number {
    width: 70px;
    height: 70px;
    background: #ffe3df;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #fff;
    font-weight: 600;
    padding-top: 40px;
    padding-left: 24px; }
  .our-process .process-box .process-text {
    border-right: 1px solid #d6d9e2; }
    .our-process .process-box .process-text:last-child {
      border-right: 0; }
    .our-process .process-box .process-text h4 {
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 22px;
      margin-bottom: 20px; }
    .our-process .process-box .process-text p {
      font-weight: 500; }
  .our-process .process-btns {
    color: #000000;
    font-weight: 700;
    font-size: 17px;
    margin-top: 25px; }
    .our-process .process-btns a:last-of-type {
      border-color: transparent;
      margin-left: 15px; }
      .our-process .process-btns a:last-of-type:before {
        background: #c1c5c1 !important; }
    .our-process .process-btns a:hover {
      border-color: #02bc4d; }
    .our-process .process-btns h5 {
      margin-top: 10px;
      font-weight: 600;
      font-size: 18px; }
      .our-process .process-btns h5 span {
        color: #02bc4d; }

/** End our-process **/
/** Testimonials **/
.testimonials {
  padding: 70px 0;
  background: #f4f4f4; }
  .testimonials .testimonials-carausal .slick-arrow {
    border: 1px solid #c0c0c0;
    height: 40px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    cursor: pointer;
    bottom: -23px; }
    .testimonials .testimonials-carausal .slick-arrow svg {
      transform: scale(0.5);
      fill: #c0c0c0; }
    .testimonials .testimonials-carausal .slick-arrow.prev-arrow {
      border-radius: 5px 0 0 5px;
      left: -169px;
      border-right: 0; }
    .testimonials .testimonials-carausal .slick-arrow.next-arrow {
      border-radius: 0 5px 5px 0px;
      left: -124px; }
    .testimonials .testimonials-carausal .slick-arrow:hover {
      background: #c0c0c0; }
      .testimonials .testimonials-carausal .slick-arrow:hover svg {
        fill: #fff !important; }
  .testimonials .testimonial-sidebar h3 span {
    font-size: 21px; }
  .testimonials .testimonial-sidebar h3:before {
    margin: 0; }
  .testimonials .testimonial-sidebar p {
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px; }
  .testimonials .customer-testimonials {
    background: #02bc4d;
    padding: 21px 37px;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 0 29px 0px rgba(2, 188, 77, 0.3); }
    .testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-img {
      width: 110px;
      height: 110px; }
      .testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-img img {
        max-width: 100%;
        border-radius: 50%;
        display: inline-block;
        border: 2px solid #008937; }
    .testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-text {
      padding-left: 15px; }
      .testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-text h3 {
        margin: 0;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase; }
      .testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-text h4 {
        margin: 0;
        color: #fff;
        font-size: 16px;
        margin-bottom: 4px; }
      .testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-text .quotes {
        width: 55px;
        height: 38px;
        background-position: -13px -363px;
        display: block; }
    .testimonials .customer-testimonials .customer-testimonials-box .cs-text p {
      color: #fff;
      margin: 27px 0; }
    .testimonials .customer-testimonials .customer-testimonials-box .rating-stars {
      background: #01973e;
      padding: 0 18px;
      border-radius: 50px; }
      .testimonials .customer-testimonials .customer-testimonials-box .rating-stars .stars img {
        width: 92px; }
      .testimonials .customer-testimonials .customer-testimonials-box .rating-stars .icon.stars {
        background-position: -108px -304px;
        width: 17px;
        height: 16px; }
      .testimonials .customer-testimonials .customer-testimonials-box .rating-stars .rating-value {
        line-height: normal;
        color: #fff;
        font-weight: 500;
        margin-left: 5px; }
        .testimonials .customer-testimonials .customer-testimonials-box .rating-stars .rating-value span {
          color: #fff716; }

/** Testimonials **/
/** do-need  **/
.do-need {
  background: #181818;
  border-bottom: 1px solid #02bc4d;
  padding-top: 30px;
  text-align: center; }
  .do-need .do-need-section .do-need-heading {
    margin-bottom: 20px; }
    .do-need .do-need-section .do-need-heading h4, .do-need .do-need-section .do-need-heading h2 {
      margin-bottom: 0;
      text-transform: uppercase;
      color: #f4f4f4; }
    .do-need .do-need-section .do-need-heading h2 {
      line-height: normal;
      font-size: 30px;
      font-weight: 600; }
  .do-need .do-need-section .talk-email {
    display: flex;
    justify-content: center;
    margin-bottom: -33px; }
    .do-need .do-need-section .talk-email .actions {
      background: #ddf8e5;
      padding: 8px 19px;
      border: 2px solid #02bc4d;
      border-radius: 10px;
      align-items: center; }
      .do-need .do-need-section .talk-email .actions .actions-text {
        border-left: 1px solid #a3cfb0;
        padding-left: 10px;
        margin-left: 8px; }
        .do-need .do-need-section .talk-email .actions .actions-text h6 {
          margin-bottom: 0;
          color: #000000;
          text-align: left; }
        .do-need .do-need-section .talk-email .actions .actions-text h3 {
          margin-bottom: 0;
          color: #000000;
          font-weight: 600;
          font-size: 26px; }
      .do-need .do-need-section .talk-email .actions .icon-box {
        width: 40px;
        height: 40px;
        display: grid;
        place-content: center; }
        .do-need .do-need-section .talk-email .actions .icon-box .icon.icon-1 {
          background-position: -100px -111px;
          width: 34px;
          height: 34px; }
        .do-need .do-need-section .talk-email .actions .icon-box .icon.icon-2 {
          background-position: -11px -592px;
          width: 34px;
          height: 28px; }
      .do-need .do-need-section .talk-email .actions + .actions {
        margin-left: 20px; }

/** End do-need  **/
/** Footer **/
footer {
  background: #282828;
  padding-top: 65px; }
  footer .br-bottom {
    border-bottom: 1px solid #1c1c1c;
    padding-bottom: 21px; }
  footer .footer-social-icons h5 {
    color: #9cffc4;
    text-align: right; }
  footer .footer-social-icons .social-icons ul li a {
    width: 45px;
    height: 45px;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50px; }
    footer .footer-social-icons .social-icons ul li a span {
      display: inline-flex; }
  footer .footer-social-icons .social-icons ul li + li {
    margin-left: 8px; }
  footer .footer-links {
    padding-top: 50px;
    padding-bottom: 30px; }
    footer .footer-links h5 {
      color: #fff;
      margin-bottom: 15px; }
    footer .footer-links ul li a {
      color: #d5d5d5;
      display: inline-block;
      margin-bottom: 5px; }
      footer .footer-links ul li a:hover {
        color: #fff; }
  footer .disclaimer {
    background: #1d1d1d;
    padding: 12px 0; }
    footer .disclaimer .dis-text h5 {
      color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 12px; }
    footer .disclaimer .dis-text p {
      color: #9f9e9e;
      line-height: normal;
      margin-bottom: 0;
      font-size: 15px; }
    footer .disclaimer .copyright-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%; }
  footer .copyright-text p {
    color: #777777;
    margin-bottom: 0;
    text-align: center;
    padding: 7px 0; }

/** End Footer **/
/* Media Querry 1199 */
/* Media Querry 1199 */
@media (min-width: 1024px) and (max-width: 1199px) {
  header .navigation-bar .logo img {
    width: 133px; }

  header .navigation-bar .navbar .navbar-nav li > a {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0px; }

  header .navigation-bar .navbar .navbar-nav {
    width: 55%; }

  header .navigation-bar .call-to-action ul li .order-livechat a:first-child {
    padding-right: 4px; }

  header .navigation-bar .call-to-action ul li .order-livechat a:last-child {
    padding-left: 6px; }

  header .navigation-bar .navbar .navbar-collapse {
    padding-left: 80px;
    margin-right: 0; }

  header .navigation-bar .call-to-action ul li a {
    margin-right: 0; }

  header .navigation-bar .call-to-action {
    margin-left: 10px; }

  header .slider-text {
    padding-left: 145px; }

  header .price-calculator {
    padding: 15px 14px; } }
/* Media Querry 991 */
@media (min-width: 992px) and (max-width: 1024px) {
  header .navigation-bar .call-to-action ul li .order-livechat a {
    font-size: 12px; }

  header .navigation-bar .call-to-action ul li a {
    font-size: 14px; }

  header .navigation-bar .call-to-action {
    margin-left: 0; }

  header .navigation-bar .navbar .navbar-nav li > a {
    font-size: 13px; }

  header .slider-text {
    padding-left: 160px; }

  header .price-calculator {
    padding: 16px 11px; } }
/* Media Querry 991 */
@media (max-width: 991px) {
  div#collapsibleNavbar {
    background: #000;
    padding-bottom: 9px; }

  header .slider-text {
    padding-left: 75px; }

  .do-need .do-need-section .talk-email .actions .actions-text h3 {
    font-size: 18px; }

  .do-need .do-need-section .do-need-heading h2 {
    font-size: 22px; }

  .do-need .do-need-section .do-need-heading h4, .do-need .do-need-section .do-need-heading h2 {
    font-size: 20px; }

  .testimonials {
    padding: 40px 0; }

  .testimonials .testimonials-carausal .slick-arrow {
    z-index: 999; }

  .testimonials .testimonials-carausal .slick-arrow.prev-arrow {
    left: unset;
    border-right: 0;
    right: 8px; }

  .testimonials .testimonials-carausal .slick-arrow.next-arrow {
    left: unset;
    border-right: 0;
    right: -37px; }

  .new-slides .points-slide {
    margin-top: 97px; }

  .new-slides .news-slides-text .news-slides-box {
    margin-top: 30px; }

  .new-slides {
    padding-top: 30px; }

  .service-feature .service-feature-img {
    align-items: center;
    margin-right: 0; }

  .service-quality-text {
    margin-bottom: 35px; }

  .service-quality-wrap .service-quality-heading p {
    margin-bottom: 23px; }

  header .price-calculator {
    padding: 20px 12px; }

  button.navbar-toggler {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999; }

  .service-feature {
    padding: 25px 0; }

  .our-process {
    padding: 25px 0; }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(225, 225, 225, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

  header .navigation-bar .navbar .navbar-nav {
    width: 100%;
    text-align: center; }

  header .navigation-bar .navbar .navbar-collapse {
    padding-left: 0;
    margin-right: 0; }

  header .navigation-bar .call-to-action {
    margin-left: 0; }

  .call-to-action ul {
    justify-content: center !important;
    margin-top: 13px; }

  header .slider-text h1 {
    font-size: 27px; }

  header .price-calculator {
    margin-top: 50px;
    margin-right: 0; }

  header .slider-text {
    padding-left: 0;
    text-align: center;
    margin-top: 50px; } }
/* Media Querry 991 and 768 */
/* Media Querry 768 */
@media (max-width: 768px) {
  header .navigation-bar .call-to-action ul li .order-livechat {
    margin-left: 8px;
    justify-content: center; }

  .call-to-action {
    text-align: center; }

  header .slider-text ul li .icon {
    display: none; }

  header .price-calculator {
    margin-left: 0; }

  .service-quality-text {
    text-align: center; }

  .service-feature .service-feature-text {
    padding: 21px 31px 18px 32px; }

  .service-feature .service-feature-text .heading-tile {
    font-size: 24px;
    margin-bottom: 0; }

  .process-box {
    text-align: center; }

  .our-process .process-box .number {
    margin: 0 auto; }

  .testimonial-sidebar {
    margin-bottom: 15px; }

  .do-need .do-need-section .talk-email {
    margin-bottom: 0;
    flex-direction: column; }

  .do-need .do-need-section .talk-email .actions + .actions {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px; }

  .footer-links {
    text-align: center; }

  header .navigation-bar .logo {
    text-align: center; } }
/* Media Querry 576 */
@media (max-width: 576px) {
  header .slider-text h1 {
    font-size: 20px; }

  header .slider-text ul li {
    padding-left: 0;
    font-size: 14px; }

  header .price-calculator h1 {
    font-size: 24px; }

  .heading-tile {
    font-size: 20px; }

  .common-btn {
    height: 35px;
    min-width: 137px;
    padding: 0 17px;
    font-size: 14px; }

  .service-feature .service-feature-img img {
    margin-top: 0;
    width: 100%;
    height: 100%; }

  .service-feature .contact-info {
    text-align: center;
    width: 100%; }

  .service-feature .contact-info .phone-no-icon {
    justify-content: center;
    font-size: 20px; }

  .service-feature .service-feature-text .heading-tile {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center; }

  .service-feature .service-feature-text .heading-tile:before {
    margin-left: auto; }

  .heading-tile {
    font-size: 20px !important;
    text-align: center; }
    .heading-tile:before {
      margin-left: auto !important;
      margin-right: auto !important; }

  .service-feature .service-feature-text:after {
    display: none; }

  .testimonial-sidebar {
    text-align: center; }

  .testimonials .customer-testimonials .customer-testimonials-box .ct-details .ct-img {
    margin: 0 auto; }

  .ct-details {
    justify-content: center;
    text-align: center; }

  .customer-testimonials-box {
    text-align: center; }

  .do-need .do-need-section .talk-email .actions .actions-text h3 {
    font-size: 14px; }

  .our-process .process-btns a:last-of-type {
    margin-left: 0;
    margin-top: 5px; }

  .service-quality-wrap .service-quality-boxes .service-quality-box {
    cursor: pointer;
    background: #ddf8e5;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    margin-bottom: 8px; } }

/*# sourceMappingURL=style.css.map */
